@import "variables/variables.scss";
@import "utils/mixins.scss";
@import "utils/functions.scss";
@import "generics/reset.scss";
// @import "components/navbar.scss";
// @import "components/main_page.scss";
// si queremos importar algo de otra carpeta, podemos usar '../../'. A diferencia de react y node, tenemos que especificar la extensión del archivo.


/*---------------------------- NAVBAR ----------------------------*/

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $dark;
	color: $light;
	height: $size;

	// @extend %flex-sb; //en caso que queramos usar un extend y no un mixin
	@include flex(space-between);

	a {
		margin: 0;
		color: $light;
		width: calc($size * 4);
		height: $size;
		margin-left: $size;
		@include flex(space-between);
	}
}

.userform {
	@include flex(space-between);

	li {
		height: $size;
		transition: background-color 0.3s;

		a {
			margin: 0;
			height: $size;
			width: calc($size * 2);
			padding: 16px 25px;
			color: $light;
			@include flex(center);

			&:hover {
				background-color: $light;
				color: $dark;
			}
		}
	}
}

.buy-btn > a {
	background-color: $cyan;
}

.vote-btn > a {
	background-color: $magenta;
}

/*---------------------------- MAIN ----------------------------*/
.main-page {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	@include flex(center);
	flex-direction: column;
}

.main-h1 {
	text-align: center;
	margin-bottom: 100px;
}

.cta {
	@include flex(center);
	width: 100vw;
	height: half(100) vh;

	div {
		a {
			padding: 15px $size;
			border-radius: 25px;
			background-color: $dark;
			color: $light;
			opacity: 140%;
			cursor: pointer;
			transition: background-color 0.3s;
		}
	}
}

.buy,
.vote,
.join {
	width: calc(100% / 3);
	height: 50vh;
	@include flex(center);
}

.buy {
	background-color: lighten($cyan, 25%);

	&:hover {
		background-color: $cyan;
	}

	a {
		&:hover {
			background-color: $orange;
		}
	}
}

.vote {
	background-color: lighten($magenta, 25%);

	&:hover {
		background-color: $magenta;
	}

	a {
		&:hover {
			background-color: $green;
		}
	}
}

.join {
	//background-color: rgba(252, 226, 5, 0.6);
	//background-color: rgba($yellow, 0.6);
	background-color: lighten($yellow, 25%);

	&:hover {
		background-color: $yellow;
	}

	a {
		&:hover {
			background-color: $lilac;
		}
	}
}
