
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: "Poppins", sans-serif;
}

body {
	font: 14px "Montserrat", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}