$light: #fafafa;
$dark: #222222;
$cyan: #00a6d6;
$magenta: #f01c9c;
$yellow: #fce205;
$orange: #ed7014;
$green: #03ac13;
$lilac: #a32cc4;

$size: 60px;

// $color-list: (
//   dark: #222222,
//   light: #fafafa,
//   cyan: #00a6d6,
//   magenta: #f01c9c,
//   yellow: #fce205,
//   orange: #ed7014,
//   green: #03ac13,
//   lilac: #a32cc4
// );